

/* custom css */
.form-shipping-address .fieldset.address .field.street,
.billing-address-form .fieldset.address .field.street {
    width: 70%;
}

.form-shipping-address .fieldset.address .field.housenumber,
.billing-address-form .fieldset.address .field.housenumber{
    width: 30%;
}

@media (max-width: 480px) {
    .form-shipping-address .fieldset.address .field.street,
    .billing-address-form .fieldset.address .field.street {
        width: 100%;
    }

    .form-shipping-address .fieldset.address .field.housenumber,
    .billing-address-form .fieldset.address .field.housenumber{
        width: 100%;
    }
}

#checkout-step-shipping_method .row > td.col {
    max-width: 150px;
}