<form class="address-type-form col-mp mp-12" action="">
    <div class="address-type-block field choice radio radio-primary">
        <input type="radio" name="address-type"
               class="address-type"
               value="residential"
               data-bind="attr: {id: 'address-type-residential'}"/>

        <label data-bind="attr: {for: 'address-type-residential'}">
            <span data-bind="i18n: 'Residential Delivery Address'"></span>
        </label>
    </div>
    <div class="address-type-block field choice radio radio-primary">
        <input type="radio" name="address-type"
               class="address-type"
               value="business"
               data-bind="attr: {id: 'address-type-business'}"/>
        <label data-bind="attr: {for: 'address-type-business'}">
            <span data-bind="i18n: 'Business Delivery Address'"></span>
        </label>
    </div>
</form>