
.shipping-option._collapsible .shipping-option-title {
    cursor: pointer;
    padding: 20px 22px 20px 0;
}

.shipping-option-title .action-toggle {
    color: #006bb4;
    display: inline-block;
    text-decoration: none;
}

.shipping-option-title .action-toggle:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    content: '\e622';
    font-family: 'luma-icons';
    margin: 0 0 0 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.shipping-option._active .shipping-option-title .action-toggle:after {
    content: '\e621';
}