
<div id="carrier-office-list-wrapper" data-bind="visible: selectedMethod() == 'newposhta'" class="field">
    <span class="label" data-bind="i18n: 'Отделение новой почты'"></span>
    <input name="carrier_department" data-bind="deAutoComplete: {
        selected: selectedDepartment,
        options: getDepartments
    },
    event: {change: userChanges},
    value: value,
    hasFocus: focused,
    valueUpdate: valueUpdate,
    attr: {
        name: 'carrier_department',
        placeholder: placeholder,
        'aria-describedby': noticeId,
        id: 'carrier_department',
        disabled: disabled
}" />

    <!-- ko if: errorValidationMessage().length > 0 -->
    <div class="field-error">
        <span data-bind="i18n: errorValidationMessage()"></span>
    </div>
    <!-- /ko -->

</div>

<!-- additional conteCities