#opc-shipping_method {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.checkout-index-index .opc-wrapper .step-content #customer-email-fieldset > .field > .control,
.checkout-index-index .opc-wrapper .step-content .fieldset.address > .field > .control {
    padding-right: 0;
    margin-left: 0;
}

.checkout-index-index .radio {
    margin: 0;
}

.checkout-index-index .step-title {
    margin-bottom: 0;
}

.block.items-in-cart, .minicart-items-wrapper {
    margin-top: 0;
}

.checkout-agreements-block #co-place-order-agreement {
    margin-bottom: 5px;
}

#co-place-order-area {
    margin-top: 25px;
}

.onestepcheckout-index-index input.google-auto-complete {
    display: inline-block;
}

.opc-wrapper #customer-email-fieldset .field-tooltip {
    padding: 13px 0 0;
}

.opc-wrapper .field-tooltip {
    padding: 10px 13px 0 0;
    margin-top: 0;
}

.qty-wrapper .qty-wrap .input-text.update {
    padding: 0;
    top: -17px;
}

.field.choice input[type=checkbox] {
    position: initial;
    z-index: 1;
    opacity: 1;
    height: 23px;
}

.checkout-index-index i, .checkout-index-index span {
    vertical-align: middle;
}

#checkout-shipping-method-load {
    margin-bottom: 35px;
    padding-bottom: 0;
}

.checkout-index-index th, .checkout-index-index td {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .opc-block-summary .table-totals th {
        display: initial;
    }
}

@media only screen and (max-width:736px) {
    table#checkout-review-table .qty-wrapper {
        min-width: 72px;
    }
}

.actions-toolbar .place-order-primary {
    margin: auto;
}

.widget.block-static-block {
    padding-bottom: 0;
    margin-bottom: 0;
}

.page-main {
    padding-top: 50px;
    margin-bottom: 10px;
}

#checkout-step-shipping_method .row > td.col {
    max-width: 150px;
    padding-right: 10px;
    padding-left: 10px;
}