<!-- ko ifnot: (dropInEnabled())-->
<!-- ko template: 'Ebizmarts_SagePaySuite/payment/cc-form' --><!-- /ko -->
<!-- /ko -->

<!-- ko if: (dropInEnabled())-->
<div id="sp-container"></div>
<div id="submit-container">
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action primary checkout" style="display:none;" id="submit_dropin_payment"
                    type="button"
                    data-bind="
                                    click: function(){ $parent.tokenise(); },
                                    attr: {title: $t('Submit payment')},
                                    enable: (getCode() == isChecked())
                                    "
                    disabled>
                <span data-bind="text: $t('Submit payment')"></span>
            </button>
        </div>
    </div>
</div>
<div class="actions-toolbar">
    <div class="primary">
        <button class="action primary checkout"
                type="submit"
                data-bind="
                                    click: function(){ $parent.prepareSagePayment(); },
                                    attr: {title: $t('Load secure credit card form')},
                                    css: {disabled: !isPlaceOrderActionAllowed()},
                                    enable: (getCode() == isChecked())
                                    "
                disabled>
            <span data-bind="text: $t('Load secure credit card form')"></span>
        </button>
    </div>
</div>
<!-- /ko -->

<!-- ko ifnot: (dropInEnabled())-->
<!-- #### sagepay tokenise card form #### -->
<form data-bind="attr: {id: getCode() + '-token-form'}" style="display:none;" method="POST" action="/payment">
    <input type="hidden" data-sagepay="merchantSessionKey"/>
    <input type="text" data-sagepay="cardholderName"/>
    <input type="text" data-sagepay="cardNumber"/>
    <input type="text" data-sagepay="expiryDate"/>
    <input type="text" data-sagepay="securityCode"/>
</form>
<div class="actions-toolbar">
    <div class="primary">
        <button class="action primary checkout"
                type="submit"
                data-bind="
                                        click: function(){ $parent.prepareSagePayment(); },
                                        attr: {title: $t('Place Order')},
                                        css: {disabled: !isPlaceOrderActionAllowed()},
                                        enable: (getCode() == isChecked())
                                        "
                disabled>
            <span data-bind="text: $t('Place Order')"></span>
        </button>
    </div>
</div>
<!-- /ko -->

<!-- #### sagepay 3D secure form #### -->
<form data-bind="attr: {id: getCode() + '-3Dsecure-form'}" method="POST">
    <input type="hidden" name="PaReq">
    <input type="hidden" name="TermUrl">
    <input type="hidden" name="Md">
</form>