.qty-wrapper {
    min-width: 100px;
}

.qty-wrapper .qty-wrap {
    width: 40px;
}

.qty-wrapper .qty-wrap .input-text.update {
    width: 40px;
    padding: 6px;
    top: -10px;
}

.checkout-agreements-block #co-place-order-agreement {
    margin-bottom: 0;
}

textarea {
    padding: 9px;
}

.table-checkout-shipping-method tbody td {
    padding-bottom: 0;
    padding-top: 0;
}

.table-checkout-shipping-method input[type=radio] {
    margin-top: 20px;
    margin-bottom: 0;
}

#order-attributes {
    display: block;
}

.onestepcheckout-index-index button {
    padding: 1px 6px;
    margin-bottom: 10px;
}

#comments {
    min-width: 100%;
}

.shipping-policy-block.field-tooltip {
    top: -5px;
}

.opc-wrapper .shipping-address-item button.edit-address-link {
    position: static;
    margin-top: 10px;
}

.opc-wrapper .shipping-address-item {
    margin-bottom: 10px;
}
